.card {
  border: solid 0px #fff;
  background-color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 22px;
  padding-bottom: 15px;
  border-radius: 4%;
  line-height: 45px;
}

.card__list {
  display: grid;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: 0;

  list-style: none;
  padding-left: 0;
}

.card__image {
  width: 282px;
  height: ;
}

.card__caption {
  display: flex;
}

.card__title {
  margin: 0 0 0 15px;
}

.card__heart {
  margin-left: auto;
  margin-right: 20px;
  transition: 0.2s ease-in;
}

.card__heart:hover {
  opacity: 0.7;
}
