.card {
}

.card__list {
  display: grid;
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: 1fr 1fr;

  list-style: none;
  padding-left: 0;
}

.card__image {
  width: 282px;
}

.card__caption {
  border: solid 0px #fff;
  background-color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  padding-bottom: 15px;
  border-radius: 4%;
  line-height: 45px;
}
.card__heart {
  line-height: 18px;
}
