.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 74px;
  padding: 45px 200px 0 200px;
}

.header__title {
  width: 173px;
  height: 33px;
  left: 200px;
  top: 45px;
  margin: 0;
  padding-bottom: 45px;
}

.header__logo {
}

.header__line {
  width: 880px;
  opacity: 0.7;
  border: 1px solid #545454;
}
