.modal {
}

.modal__container {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal__container_opened {
  display: flex;
}

@media screen and (max-width: 768px) {
}
